.DS_Store

DSC.xcodeproj/project.xcworkspace/xcuserdata/asny.xcuserdatad/UserInterfaceState.xcuserstate

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/DEMO.xcscheme

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/DEMO_DEBUG.xcscheme

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/DSC.xcscheme

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/DSC_DEBUG.xcscheme

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/Tetgen.xcscheme

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/xcschememanagement.plist

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/SOIL.xcscheme

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/CGLA.xcscheme

DSC.xcodeproj/project.xcworkspace/xcuserdata/asny.xcuserdatad/WorkspaceSettings.xcsettings

DSC.xcodeproj/xcuserdata/asny.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

DSC.xcodeproj/project.xcworkspace/xcshareddata/DSC.xccheckout

Generator.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/Generator.xcscheme

Generator.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/TetGen.xcscheme

Generator.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/xcschememanagement.plist

Generator.xcodeproj/project.xcworkspace/xcuserdata/asny.xcuserdatad/UserInterfaceState.xcuserstate

Generator.xcodeproj/project.xcworkspace/xcshareddata/Generator.xccheckout
