<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CGLA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DEMO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DSC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SCGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SOIL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TetGen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A0AB5A417D906AD0058910E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3438C8183C7A8700829EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A3438D9183C7B2E00829EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A9C205817DFB4CB0064171E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AE27AD517675AE8000F8238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AE27B0417675CDA000F8238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
